@import './base.css';

:root {
    --bg-1: rgb(25, 28, 28);
    --bg-2: rgb(45, 45, 45);
    --text-color: white;

    --lf-blue: rgb(0, 50, 255);
    --lf-turquoise: rgb(0, 200, 180);
    --lf-green: rgba(0, 200, 0, 0.78);
    --lf-yellow: rgb(255, 210, 0);
    --lf-red: rgba(220, 20, 30, 0.862);
}

body {
    margin: 0;
    height: 100dvh;
    width: 100vw;
}

#app {
    width: 100vw;
    height: 100dvh;
}

html, body, #app {
    background-color: var(--bg-1);
}